body {
    margin: 0;
    background: black;
    color:lightgray;
    text-align: left;
}

h1 {
    margin-bottom: 0px;
}

h5 {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 10px;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-label {
    width: 170px;
    align-items: left;
}

/* .version {
    font-size: 10px;
    border-bottom: 5px;
} */
