body {
    margin: 0;
    background: black;
    color:lightgray;
    text-align: left;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-label {
    width: 170px;
    align-items: left;
}
